<div class="row">
  <div class="col-auto">
  <h2>Your Posts</h2>
  </div>
</div>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> editItem post}}
  {{/each}}
</div>
{{/if}}